.model {
  position: relative;
  opacity: 0;

  &[data-loaded='true']:global {
    animation: fadeIn 1s ease forwards var(--delay);
  }
}

.canvas {
  position: absolute;
  margin-top: 100px;
  inset: 0;
}
